name: Build and Release Electron App

on:
  push:
    tags: ['v*']

permissions:
  contents: write

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install Dependencies
        run: pnpm install

      - name: build-mac
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        if: matrix.os == 'macos-latest'
        run: vite build && electron-builder

      - name: build-win
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        if: matrix.os == 'windows-latest'
        run: vite build && electron-builder

      - name: build-linux
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        if: matrix.os == 'ubuntu-latest'
        run: vite build && electron-builder

      - name: release
        uses: softprops/action-gh-release@v1
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        with:
          draft: true
          token: ${{ secrets.GH_TOKEN }}
          files: |
            release/*.exe
            release/*.dmg
            release/*.AppImage
